<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>궇궋{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/style.scss.css') }}"
        rel="stylesheet" type="text/css" media="screen">
</head>
<body>
<header>
    <h1>궇궋 - Gukwok, Mojibake translator</h1>
</header>
<main>
    <div class="grids-main">
        <div class="pure-g">
        {% block convert_form %}
        {% endblock %}
        {% block result_box %}
        {% endblock %}
        </div>
    </div>
</main>
<footer>
</footer>
</body>
</html>