<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-sacle=1.0">
    <title>궇궋{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/style.scss.css') }}"
        rel="stylesheet" type="text/css" media="screen">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
<header>
    <h1>궇궋 - Gukwok</h1>
</header>
<main>
{% block body %}{% endblock %}
</main>
<footer>
</footer>
</body>
</html>